body {
    font-family: 'Raleway', sans-serif;
    background-color: #000;
}

hr {
    border-top: 2px solid #229eaa;
}

.tooltip.bottom, .tooltip-inner, .tooltip-arrow {
    background-color: #086e77;
}

.navbar-brand img {
    width: 1.5em;
    height: 1.5em;
}

.navbar, .card, i, footer {
    background-color: #229eaa;
}